* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}

.header {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    &__time {
        color: rgb(133, 134, 134);
    }
    &__wrap {
        display: flex;
        column-gap: 20px;
        align-items: center;
    }
    &__date {
        font-size: 15px;
    }
    &__profile {
        align-items: center;
        text-align: center;
    }
    &__link {
        display: block;
        width: 100%;
        height: 100%;
    }
    &__profilePic {
        height: 60px;
        width: 60px;
        border: 1px solid transparent;
        border-radius: 50%;
        object-position: center;
        object-fit: cover;
    }

}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
}

.main {
    margin-top: 50px;
    &__input {
        
    }
    &__btn:disabled:hover {
        cursor: default;
        opacity: 0.7;
        background-color: rgb(128, 128, 128);
    }
    &__weather-forecast {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__weather {
        border: solid red 10px;
        display: flex;
    }

}
